<div class="row">
    <div class="col-xs-8">
        <div class="table">
            <table class="table table-bordered">
                <thead>Users</thead>
                <tbody *ngFor="let user of users">
                    <tr>
                        <td>{{user.name}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-xs-4">
        <input type="text" appUser #input>
        <app-user #user></app-user>
    </div>
</div>
